body {
  background-color: lightblue;
  font-family: Arial;
}

h1 {
  color: purple;
  text-align: center;
}

p {
  color: darkgreen;
  font-size: 22px;
}

.importante {
  color: red;
  font-weight: bold;
}
